/* Header Section */

h1 {
    background-color: darkgrey;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.navbar {
    width:30%
}

/* Main Section */

.col-12.row {
    margin-left:100px;
}

.col-2 {
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
    
}

h3, h4, h2 {
    margin-left: 100px;
}



